extends layout

block content
  h1= title

  -let items = results 

  div.container-fluid
    div.row
      // Only loop if there are items to display
      if items && items.length
        each item in items
          div.col-sm-2
            p Price: $#{item.cost}
            p Cover Material: #{item.coverMaterial}
            p Pages #{item.pages}

